<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>List of Beers for Brewery</title>
</head>

<body>

	<h1 data-th-text="${breweryName}"></h1>
	<a href="/beer/style">back</a>
	<br>
	<table>
		<tr>
			<th>Description:</th>
			<td data-th-text="${brewery.description}"></td>
		</tr>
		<tr>
			<th>Address:</th>
			<td >
				<span data-th-text="${brewery.address1}"></span>
				<br>
				<span data-th-text="${brewery.address2}"></span>
				<br>
				<span data-th-text="${brewery.city}"></span>
			</td>
		</tr>
		<tr>
			<th>Phone:</th>
			<td data-th-text="${brewery.phone}"></td>
		</tr>
		<tr>
			<th>Website:</th>
			<td data-th-href="${brewery.website}">Go</td>
		</tr>
	</table>

	<form data-th-action="@{/brewery/${brewery.breweryId}}" method="post">
		<button type="submit">Place Order</button>
		<table border="1">
			<thead>
				<tr>
					<th>Beer Name</th>
					<th>Description</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="b: ${brewery.beers}" data-th-object="${b}">
					<td>
						<span data-th-text="*{beerName}"></span>
					</td>
					<td>
						<span data-th-text="*{beerDescription}"></span>
					</td>
					<td>
						<input type="number" name="" id="quantity" data-th-field="*{quantity}">
					</td>
				</tr>
			</tbody>
		</table>
	</form>

</body>

</html>